// Global Foundation Settings
@import "settings";
// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";
#add-new-post, #div-add-followup {
  &.row {
    width: 97%;
    max-width: 97%;
    margin-left: 5px;
  }
  table.mceToolbar, .mceSplitButton {
    background: transparent;
  }
  fieldset {
    margin-top: 1px;
  }
  select {
    //	  margin: 0 0 12px 0;
    height: 32px;
  }
  .wp-switch-editor {
    height: 26px;
  }
  #followup-editor iframe {
    height: 190px !important;
  }
}

.contact-meta select {
  margin: 0 0 12px 0;
  height: 32px;
}

.ui-datepicker {
  z-index: 100 !important;
}

.ui-autocomplete-input {
  margin-bottom: 0px
}

.ui-menu-item img {
  vertical-align: middle;
  padding-right: 5px;
  display: inline !important;
}

#divSubscriberList img {
  vertical-align: middle;
}

.mybutton {
  @include button;
  height: 32px;
  line-height: 10px
}

.contact-list h5 {
  margin: 0;
}

.contact-list i {
  display: block
}

.contact-list img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#divSubscriberList img {
  margin-right: 5px
}

.scroll-height {
  max-height: 100px;
  overflow-y: scroll;
  li {
    padding-bottom: 0px;
  }
}

.email-ac .tagit {
  overflow-y: hidden;
}

.email-ac .prefix {
  height: 35px;
  margin-bottom: 5px;
}

#mailTab .prefix {
  margin-bottom: 5px;
}

.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}

.ui-timepicker-div dl {
  text-align: left;
}

.ui-timepicker-div dl dt {
  height: 25px;
  margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
  margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
  font-size: 90%;
}

.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.ui-timepicker-rtl {
  direction: rtl;
}

.ui-timepicker-rtl dl {
  text-align: right;
}

.ui-timepicker-rtl dl dd {
  margin: 0 65px 10px 10px;
}

.tagit-new, .ui-widget-content.ui-autocomplete-input {
  padding: 0 !important;
  margin: 0 !important;
}

.tagit-choice {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.tagit.ui-widget {
  height: 35px
}

#rattingdiv {
  margin-bottom: 10px
}

#rattingdiv .large-8 {
  padding-left: 10px;
  padding-top: 5px;
}

div.rating-cancel {
  display: none !important
}

a.heading {
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

#divSubscriberList {
  li {
    width: 100%;
    img {
      display: inline !important;
    }
    /*a{float:right !important}*/

  }
}

.loading-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .4);
  z-index: 1000;

  .loader-icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-top: 20%;
    margin-left: 47.7%;
    opacity: 1;
    filter: alpha(opacity=100);
    background-image: url("../img/loading-new.gif");
    background-repeat: no-repeat;
  }
}

#commentlist {

  .ui-accordion-header {
    background: #e6e6e6 !important;
  }

  .comment-header {

    .folowup-hover.delete {
      color: red;
    }
    a.folowup-hover {
      display: none;
      margin: 5px;
      &.top-corner {
        top: 5px;
        right: 0;
        position: absolute;
      }
    }
    &:hover {
      a.folowup-hover {
        display: inline;
      }
    }
    .comment_attechment a.edit-remove {
      display: none;
    }
  }
}

#attachmentList {
  a.edit-remove {
    display: inline;
  }
}

.vertical-tab {

}

.inline {
  i {
    display: inline;
  }
}

.ui-widget-content a {
  color: #2ba6cb !important;
  text-decoration: underline;
}