#!/bin/bash

# Setup a cron on server for this script to start mail syncing & parsing.

# "crontab -l" : This will dispaly the current crons which are set.

# "crontab -e" : This will allow you to edit/add crons on the server.

# Add following line in the crontab

# */10 * * * * /var/www/test.com/htdocs/wp-content/plugins/rtbiz-helpdesk/syncemail.sh >> /var/log/helpdesk_mail_sync_log.log 2>&1

# Save the crontab. And cron will start to execute. The above line will run this script every 10 minutes and log the output in the log file.

# You can change the time accordingly.

echo start;
path='/var/www/test.com/htdocs/wp-content/plugins/rtbiz-helpdesk/'
count=$(cat $path/'mailaccount.txt')
for i in $(seq 1 $count)
do
        cd $path;
        (/usr/bin/php -f hdmailcron.php;)&
        echo $i;
        sleep 1;
done