.rthd-status {
	border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 0 5px;
}

mark.rthd-unanswered{
	background: #C85D5D;
	border: 1px solid #C85D5D;
}

mark.rthd-answered {
	background: #5FA364;
	border: 1px solid #5FA364;
}

mark.rthd-archived {
	background: #9CB8D4;
	border: 1px solid #9CB8D4;
}
