.rthd-sidebar {
	font-size: 14px;
	float: right;
	position: relative;
	width: 26%;

	&.rthd-sidebar a {
		border: 0; // 2015
		text-decoration: none;
	}

	.rt-hd-ticket-info-header {
		font-size: 16px;
		margin-bottom: 20px;
		margin-top: 25px;
	}

	label {
		display: block;
		margin-bottom: 4px;
	}

	select {
		font-size: inherit;
		width: 100%;
	}
}


.rthd-front-icons {
	text-align: left;

	a {
		margin: 0 6px;
	}

	.dashicons {

	}
}