/* line 57, ../sass/admin.scss */
.rthd-container {
  /*	.rthd-sticky {
  		position: fixed;
  		right: 0;
  		z-index: 100;
  	}*/
}
/* line 69, ../sass/admin.scss */
.rthd-container .rthd-gravity-mapping [class*="column"] + [class*="column"]:last-child {
  float: none;
}
/* line 79, ../sass/admin.scss */
.rthd-container .removeMeta {
  padding: 8px 15px 6px;
}
/* line 84, ../sass/admin.scss */
.rthd-container #followup_wrapper .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
}
/* line 94, ../sass/admin.scss */
.rthd-container .clearfix {
  clear: both;
}
/* line 98, ../sass/admin.scss */
.rthd-container input, .rthd-container select, .rthd-container ul {
  margin: 0px;
}
/* line 103, ../sass/admin.scss */
.rthd-container .comment_attechment li, .rthd-container #divAccountsList li, .rthd-container #divContactsList li {
  list-style: none;
}
/* line 108, ../sass/admin.scss */
.rthd-container .rthd-stars {
  height: 14px;
  margin: 5px 5px 6px;
}
/* line 112, ../sass/admin.scss */
.rthd-container .rthd-stars li {
  list-style: none;
}
/* line 117, ../sass/admin.scss */
.rthd-container .attachment-item {
  margin-top: 5px;
}
/* line 121, ../sass/admin.scss */
.rthd-container #add_ticket_attachment {
  margin-bottom: 5px;
}
/* line 125, ../sass/admin.scss */
.rthd-container .rthd_delete_attachment {
  color: red;
  margin-right: 5px;
}
/* line 130, ../sass/admin.scss */
.rthd-container .rthd_view_mode {
  text-align: center;
}
/* line 134, ../sass/admin.scss */
.rthd-container .rthd_attachment {
  height: 20px;
  overflow: hidden;
  display: inline-block;
}
/* line 140, ../sass/admin.scss */
.rthd-container #ticket_attach_file {
  width: auto;
  padding: 0;
}
/* line 145, ../sass/admin.scss */
.rthd-container .followup-scroll-height {
  max-height: 400px;
  overflow-y: auto;
  margin: 5px 10px 10px 0px;
  padding-left: 25px;
}
/* line 153, ../sass/admin.scss */
.rthd-container #commentlist .comment-user-gravatar {
  display: inline-block;
}
/* line 156, ../sass/admin.scss */
.rthd-container #commentlist .comment-user-gravatar .th.radius {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-width: 3px;
}
/* line 161, ../sass/admin.scss */
.rthd-container #commentlist .comment-user-gravatar .th.radius img {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 168, ../sass/admin.scss */
.rthd-container #commentlist .comment-participant {
  max-height: 10px;
  overflow: hidden;
  color: gray;
  font-size: x-small;
  padding-left: 15px;
}
/* line 177, ../sass/admin.scss */
.rthd-container #commentlist .comment-users {
  display: inline-block;
  width: 50%;
}
/* line 182, ../sass/admin.scss */
.rthd-container #commentlist .comment-info {
  display: inline-block;
  font-size: small;
  width: 25%;
}
/* line 188, ../sass/admin.scss */
.rthd-container #commentlist .comment-actions {
  display: inline-block;
}
/* line 192, ../sass/admin.scss */
.rthd-container #commentlist .comment-date {
  background: #e26143;
  text-align: center;
  border-radius: 5px;
  margin: 0 5px;
  padding: 0;
  width: 30px;
  display: inline-block;
  float: left;
}
/* line 203, ../sass/admin.scss */
.rthd-container #commentlist .comment-date .comment-month {
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1;
  margin: 0;
  padding: 2px 0;
}
/* line 212, ../sass/admin.scss */
.rthd-container #commentlist .comment-date .comment-day {
  font-size: 15px;
  line-height: 1;
  background: #fff;
  border: #e3e3e3 1px solid;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  margin: 0;
}
/* line 224, ../sass/admin.scss */
.rthd-container #commentlist .comment-date .comment-year {
  font-size: 10px;
  margin: 0;
  padding: 0;
}
/* line 231, ../sass/admin.scss */
.rthd-container #commentlist .comment-meta {
  display: inline-block;
  width: 95%;
  float: right;
}
/* line 237, ../sass/admin.scss */
.rthd-container #commentlist .comment-skip-date {
  margin-left: 40px;
}
/* line 241, ../sass/admin.scss */
.rthd-container #commentlist .comment-header {
  cursor: pointer;
  background-color: #F5F5F5;
  margin: 1px 0;
  padding-top: 3px;
  padding-bottom: 3px;
  max-height: 57px;
}
/* line 250, ../sass/admin.scss */
.rthd-container #commentlist .comment-wrapper {
  display: block;
  background-color: #FFF;
  padding: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999;
  font-size: 14px;
  line-height: 20px;
  margin: 1px 0;
  display: none;
}
/* line 263, ../sass/admin.scss */
.rthd-container #commentlist .rthd_privacy {
  display: inline-block;
  margin-left: 5px;
}
/* line 269, ../sass/admin.scss */
.rthd-container #load_more_btn {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  color: #555;
  background: -webkit-linear-gradient(whitesmoke, #e9e9e9);
  background: -moz-linear-gradient(whitesmoke, #e9e9e9);
  background: -o-linear-gradient(whitesmoke, #e9e9e9);
  background: linear-gradient(#f5f5f5, #e9e9e9);
  border: none;
}
/* line 281, ../sass/admin.scss */
.rthd-container #load_more_btn:active {
  box-shadow: inset 0px 0px 2px #5A5A5A;
}
/* line 287, ../sass/admin.scss */
.rthd-container .rthd-participant-list li .row.collapse .large-9.columns {
  overflow: hidden;
}
/* line 292, ../sass/admin.scss */
.rthd-container small.error {
  margin-top: auto;
}
/* line 296, ../sass/admin.scss */
.rthd-container .rthd_attr_border {
  border: 1px solid #d9d9d9;
}
/* line 300, ../sass/admin.scss */
.rthd-container .rthd_public_link {
  margin: 2% 5px 2%;
  display: inline-block;
}
/* line 305, ../sass/admin.scss */
.rthd-container #rthd-status {
  margin: 15px 0;
}
/* line 315, ../sass/admin.scss */
.rthd-container #subscriber_user_ac {
  margin-bottom: 10px;
}
/* line 319, ../sass/admin.scss */
.rthd-container .meta-box-sortables div.postbox {
  margin-bottom: 25px;
}
/* line 323, ../sass/admin.scss */
.rthd-container .meta-box-sortables div.postbox h6 {
  border-bottom: 1px solid #eee;
  padding: 5px;
  margin-bottom: 0;
  font-weight: bold;
  color: #444;
  font-size: 12px;
}
/* line 332, ../sass/admin.scss */
.rthd-container .meta-box-sortables div.postbox button {
  height: 26px;
  line-height: 8px;
}
/* line 338, ../sass/admin.scss */
.rthd-container #add-new-post .rthd-ticket-content-wrapper {
  margin-bottom: 25px;
}
/* line 342, ../sass/admin.scss */
.rthd-container #add-new-post .rthd-post-author-wrapper {
  margin-bottom: 25px;
}
/* line 346, ../sass/admin.scss */
.rthd-container #add-new-post .postbox select {
  height: 26.5px;
}
/* line 350, ../sass/admin.scss */
.rthd-container .mceEditor td.mceIframeContainer iframe {
  min-height: 170px;
}
/* line 354, ../sass/admin.scss */
.rthd-container .wp-editor-container textarea.wp-editor-area {
  min-height: 178px;
}
