/* Css for rtHelpdesk dashboard */
#rthd-welcome-panel.welcome-panel .welcome-panel-close:before {
	position: absolute;
	left: -18px;
	margin-top: -2px;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
#rthd-welcome-panel.welcome-panel .welcome-panel-close:before {
	background: none;
	color: #bbb;
	content: '\f153';
	display: block !important;
	font: normal 16px/1 'dashicons';
	speak: none;
	height: 20px;
	text-align: center;
	width: 20px;
	-webkit-font-smoothing: antialiased !important;
}
#rthd-welcome-panel.welcome-panel .welcome-panel-close:hover:before {
	color: #c00;
}
#rthd-new-support-page {
	display: inline-block;	
}
#rthd-welcome-panel #rthd-support-spinner {
  	display: none;
  	vertical-align: middle;
  	margin-left: 5px;
}