.discussion {
	list-style: none;
	margin: 20px 0;
	padding: 0 0 50px 0;
}
.discussion > li {
	padding: 25px 0;
	overflow: hidden;
	display: flex;
	border-bottom: 1px solid #DDD;
}
.discussion .avatar {
	min-width: 40px;
	position: relative;
}
.discussion .avatar img {
	display: block;
	width: 100%;
}

.other .avatar:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border: 5px solid #EEE;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.self {
	justify-content: flex-end;
	align-items: flex-end;
}
.self .messages {
	order: 1;
	border-bottom-right-radius: 0;
	word-wrap: break-word;
}
.self .avatar {
	order: 2;
}
.self .avatar:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 5px solid #EEE;
	border-right-color: transparent;
	border-top-color: transparent;
	box-shadow: 0px 2px 3px -1px rgba(0, 0, 0, 0.2);
}

.messages {
	background: #EEE;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	width: 100%;
}
.messages p {
	margin: 0 0 0.2rem 0;
}
.messages time {
	color: #777;
}

.messages .comment_attechment {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.messages .comment_attechment li {
	display: inline-block;
	list-style: none;
}

#private-comment{
	color: #d02600;
	display: inline-block;
}

.add-savefollowup {
	float: right;
}

.add-followup-attachment {
	float: right;
	margin-right: 10px;
}

#attachmentList {
	display: inline-block;
}

#attachmentList .attachment-item {
	display: inline-block;
	list-style: none;
	margin: 0 10px;
}

#attachmentList .rthd_delete_attachment {
	color: red;
	float: right;
	margin-left: 10px;
}

.private-comment-display{
	/*color: red;*/
	background: pink;
}

.followup-content {
	width:100%;
	padding: 0;
}

.helpdeskspinner{
	display:none;
}

#edited_followup_content{
	width:100%;
}

.red-color{
	color: #d02600;
}

.edit-action-button button[type='button']{
	float: right;
}

#editfollowup{
	margin-right: 5px;
}

#rthd-ticket {
	width: 65%;
	float: left;
	margin-right: 5px;
}

#rthd-sidebar {
	width: 32%;
	float: left;
	margin-left: 5px;
	position: relative;
}

.rthd-container {
	margin: 10px;
	overflow: auto;
}

.rthd-ticket-description {
	word-wrap: break-word;
}

.rthd-clearfix {
	clear: both;
}
.editfollowuplink{
	color : #777
}

#followup-load-more{
	text-decoration: none;
	width: 100%;
	background: #DDD;
	color: #999;
	text-transform: uppercase;
	padding: 15px 140px;
}

#followup-load-more:hover{
	background: #999;
	color: #eaeaea;
}

.content-stream.stream-loading {
	text-align: center;
	color: #999;
	padding: 0 0 30px;
	box-sizing: border-box;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-size: 1.25em;
	line-height: 150%;

}