ul#chat-UI {
	margin-bottom: 30px;
}
.discussion {
	list-style: none;
	margin: 0;
	padding: 0;
}
.discussion > li {
	padding: 25px 0;
	margin: 0;
	overflow: hidden;
	display: flex;
	position: relative;
}

.discussion > li:before {
	background: none repeat scroll 0 0 #eee;
	content: " ";
	height: 100%;
	left: 21px;
	position: absolute;
	top: 0;
	width: 2px;
}

#chat-UI.discussion > li:last-child:before {
	height: 45px;
}

#ticket-content-UI.discussion > li:before {
	top: 30px;
}

.discussion .avatar {
	border-radius: 100%;
	min-width: 40px;
	position: relative;
	margin-right: 12px;
}
.discussion .avatar img {
	display: block;
	max-width: 100%;
}

.self .avatar:after, .other .avatar:after, .self .avatar:before, .other .avatar:before {
	left: 94%;
	top: 22px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.self .avatar:after, .other .avatar:after {
	border-color: rgba(250, 250, 250, 0);
	border-width: 9px;
	margin-top: -9px;
	border-right-color: rgb(246, 247, 248);
}
.self .avatar:before, .other .avatar:before {
	border-color: rgba(238, 238, 238, 0);
	border-right-color: #eeeeee;
	border-width: 8px;
	margin-top: -8px;
}
.private-comment-item.self .avatar:after, .private-comment-item.other .avatar:after {
	border-right-color: #FFC0CB;
}

.self .messages, .other .messages, .rt-hd-ticket-front-title{
	-ms-word-break:break-all;
	word-wrap: break-word;
	word-break: break-word;
  	-webkit-hyphens:auto;
  	-moz-hyphens:auto;
  	hyphens:auto;
}
.self .avatar {
	position: relative;
}

.messages {
	border: solid 1px #eee;
	background: rgb(246, 247, 248);
	padding: 10px;
	border-radius: 2px;
	width: 100%;
}
.messages p {
	margin: 0 0 1.5rem 0;
}
.messages time {
	color: #777;
    float: right;
}

.messages .comment_attechment {
	display: block;
	padding: 0;
	margin: 10px 0 5px;
	font-size: 12px;
}

.messages .comment_attechment li {
	display: inline-block;
	list-style: none;
	margin-right: 5px;
}

#private-comment{
	display: inline-block;
}
#rthd-followup-form {
	margin-top: 1.5em;
}
#rthd-followup-form > div {
	margin-bottom: 1em;
}
#rthd-followup-form #rthd-followup-action {
	float: right;
	margin-bottom: 0;
}

.add-followup-attachment {
	float: right;
	margin-right: 10px;
}

#attachment-files .rthd_delete_attachment {
	color: red;
	float: right;
	margin-left: 10px;
}

.private-comment-display{
	/*color: red;*/
	background: pink;
}

.followup-content {
	width:100%;
	padding: 0;
	height: 200px;
}
.followup-hash-url{
	text-decoration: none;
	color: inherit;
}

.helpdeskspinner{
	display:none;
}

#editedfollowupcontent, #editedticketcontent{
	width:100%;
}

.red-color{
	color: #d02600;
}

.edit-action-button button[type='button']{
	float: right;
}

#editfollowup{
	margin-right: 5px;
}

#rthd-ticket {
	width: 63%;
	float: left;
	margin-right: 2%;
}

#rthd-sidebar {
	width: 33%;
	float: left;
	margin-left: 2%;
	position: relative;
	-ms-word-break:break-all;
	word-wrap: break-word;
	word-break: break-word;
  	-webkit-hyphens:auto;
  	-moz-hyphens:auto;
  	hyphens:auto;
}

.rthd-container {
	margin: 10px;
	/*overflow: auto;*/
}

.rthd-ticket-description {
	-ms-word-break:break-all;
	word-wrap: break-word;
	word-break: break-word;
  	-webkit-hyphens:auto;
  	-moz-hyphens:auto;
  	hyphens:auto;
}

.rthd-clearfix {
	clear: both;
}
.editfollowuplink ,.edit-ticket-link, .show-original-email{
	color : #777;
}

.load-more{
	position: relative;
	border: 1px solid #f5f5f5;
}
.load-more:after, .load-more:before {
	right: 100%;
    top: 25px;
    border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.load-more:after {
	border-color: rgba(9, 59, 115, 0);
	border-right-color: #06C;
	border-width: 9px;
	margin-top: -7px;
}
.load-more:before {
	border-color: rgba(245, 245, 245, 0);
	border-right-color: #f5f5f5;
	border-width: 8px;
	margin-top: -8px;
}

#followup-load-more{
	display: inline-block;
	padding: 10px 20px;
	left: 39px;
}

.rthdcenter{
	text-align: center;
	width: 100%;
}
li.load-more-spinner-li {
	padding: 0;
}

.load-more-ul li a.load-more-block {
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    height: 44px;
    padding: 5px;
	margin: 0;
}

.wp-admin .load-more-ul li a p {
	padding: 0;
}

.load-more-ul a p label {
	margin: 0;
}
.load-more-ul a:hover{
    cursor: pointer;
}

.load-more-ul li a {
    text-decoration: none;
	background: #06C;
	color: #fff;
	font-size: 20px;
}

.followup-information{
    margin-bottom: 10px;
}

.followup-information span,.followup-information span a{
    color: #06C;
}

.load-more-count {
    font-size: 10px;
    position: relative;
    top: -2px;
}

.load-more-block {
    height: 42px;
    line-height: 1;
    position: relative;
    width: 42px;
    z-index: 10;
}

#followup-load-more {
    display: inline-block;
    left: 20px;
    padding: 10px 20px;
	margin-right: 20px;
}

#followup-load-more-count{
    display: block;
}

.ticketcontent{
    border: 1px solid #BBB;
}

.ticketother .avatar:before {
    border-right-color: #bbb;
}

#followup-load-more:hover {
    background: #039;
}

#followup-load-more:hover:after {
    border-right-color: #039;
}

.load-more-ul li a:hover {
    background: #039;
}
.followup-information .private_comment_span{
	color: red;
}

.rt_original_email{
	word-wrap: break-word;
}

.rt-hd-ticket-info{
	border-bottom: 1px dotted #ddd;
	padding: 10px 0;
}

.rt-hd-related-ticket ul li, .rt-hd-ticket-history ul li{
	padding: 5px;
	margin: 5px 0px;
}

.rt-hd-related-ticket ul li mark, .rt-hd-ticket-history ul li mark{
	float: right;
}
.followup-note {
	font-size: 13px;
	color: grey;
}
#rthd-ticket-edit{
	float: right;
	padding: 5px;
}

#rthd-status-list, #rthd-assignee-list, #edit-private {
	width: auto;
}

#rthd-change-status{
	padding: 5px;
}

#rthd-status-visiable{
	display: inline-block;
}
/*#ticket-information-edit-ticket-link {*/
	/*right: 0;*/
	/*position: absolute;*/
/*}*/

.rt-hd-ticket-info-header {
	display: inline;
}

.rthd_order_status{
	display: inline;
	float: right;
}

#savefollwoup, #submit-ajax, #rthd-add-followup-attachment {
	border-radius: 3px;
	cursor: pointer;
}

.wp-editor-container {
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
}
.edit-action-button {
	float: right;
}
#clear-attachemntlist {
	display: none;
	text-decoration: none;
}
.rthd-scroll-up {
	position: fixed;
	bottom: 100px;
	right: 50px;
	background: url(../img/toparrow.png) no-repeat 6px center;
	width: 50px;
	height: 50px;
}

h2.rt-hd-ticket-front-title{
	margin-top: 0;
	display: inline;
}

.MultiFile-remove{
	color: #9B0000;
}

#rthd-subscribe-email{
    word-break: initial;
}

#followup-filelist .followup-attach-remove{
	text-align: center;
	color: #FFF;
	background: #000;
	border-radius: 100%;
	padding: 0 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	text-decoration: none;
}

#followup-filelist .followup-attach-remove:hover{
	text-decoration: none;
	color: #FFF;
}

.rthd-front-icons, .rthd-ticket-user-activity, .rthd-collapse-icon{
	display: inline-block;
	float: right;
}
.rthd-front-icons:after,.rthd-ticket-user-activity:after{
	clear: both;
}

.rt-hd-front-icons span{
	margin-left: 5px;
}

.rthd-ticket-user-activity a img, .rthd-ticket-user-activity a input{
	border-radius: 100%;
}
.rthd-ticket-user-activity a{
	margin-left: 3px;
	text-decoration: none;
}

.rthd-contact-avatar-no-reply a img,.rthd-subscriber-avatar-no-reply a img{
	opacity: 0.65;
}
.rthd-contact-avatar-no-reply,.rthd-contact-avatar-no-reply-div, .rthd-subscriber-avatar-no-reply{
	display: inline;
}
.rthd-contact-avatar-no-reply-div,.rthd-subscriber-avatar-no-reply-div{
	/*margin-left: 3px;*/
	display: inline;
	margin: 0;
	padding: 0;
}

.rt-hd-ticket-sub-row{
	padding: 10px 0;
}

.rthd-ticket-sidebar-sub-title,.rthd-ticket-sidebar-sub-result{
	display: inline-block;
}

.rthd-ticket-sidebar-sub-title{
	width: 28%;
	vertical-align: top;
}

.rthd-ticket-sidebar-sub-result{
	width: 70%;
}

.rthd-ticket-dropdown{
	background: transparent;
	/*height: 34px;*/
}

.rthd-add-people-button{
	position: relative;
	display: inline-block;
	float: right;
}

/*.rthd-add-people-button:hover .rthd-add-people-box {*/
	/*display: block;*/
/*}*/

.rthd-add-people-button.rthd-show-add-people-box{
	display: block;
}

.rthd-add-people-box {
	position: absolute;
	background: #f0f0f0;
	z-index: 999;
	display: none;
	padding: 10px;
	margin-left: -225px;
}

.rthd-add-people-button a:hover {
	display: block;
}

.rthd-add-contact-icon{
	font-size: 30px;
	height: 30px;
	width: 30px;
}

.rthd-front-icons a span,.rthd-collapse-icon a span{
	font-size: 30px;
	width: 30px;
	height: 30px;
}
.rthd-collapse-icon a span{
	background: #E5E5E5;
	border-radius: 10%;
}

.rthd-collapse-icon a{
	margin-right: 10px;
}

.rthd-front-icons a:hover,.rthd-collapse-click:hover{
	text-decoration:none;
}


.rthd-front-icons a,.rthd-collapse-click{
	text-decoration:none;
}

.rt-hd-sidebar-box:first-of-type, .rt-hd-ticket-info:first-of-type{
	padding-top: 0;
	margin-top: 0;
}

.rt-hd-sidebar-box{
	margin: 15px 0;
	/*background: #cfd1c1;*/
	padding: 10px 5px;
	border-radius: 5%;
}

ul#attachment-files {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#rthd-subscribe-email{
	width: 250px;
	float: right;
}

.rthd-subscribe-email-submit{
	float: right;
}
