.wizard > .steps > ul > li::after{
	content: " ";
	display: inline-block;
	position: relative;
	height: 5px;
	width: 100%;
	top: -45px;
	z-index: -1;
	background: #eee;
	left: 10px;
}

.wizard > .steps > ul > li.done:after{
	background: #caeaaa;
}

.wizard > .steps > ul li:first-child::after{
	left: 10px;
}

.wizard > .steps > ul li:last-child::after{
	right: 10px;
	width: 50%;
}

#wizard .rtmailbox-row > label{
    width: 15%;
}

.rthd-setup-ul-text-decoration{
	text-decoration: none;
	list-style: none;
}

.rthd_selected_user{
	float: right;
	width: 50%;
	height: 180px;
	overflow: scroll;
}

.rthd-setup-list-users .delete_row{
	margin-left: -15px;
	margin-top: -10px;
}

.rthd-setup-list-users li{
	margin-right: 10px;
}


.rthd_wizard_container{
	padding: 5px 0;
}
.rthd-setup-user-title{
	margin-left: 5px;
}

.rthd-setup-wizard-row{
	margin-bottom: 10px;
}

.rthd-setup-wizard-row:last-child{
	margin-bottom: 0;
}

.rthd-setup-wizard-row label{
	display: inline-block;
	width: 15%;
}
.rthd-setup-wizard-row {
	background: beige;
	padding: 5px;
}

.rthd-setup-wizard-controls{
	background: beige;
	width: 50%;
	padding: 10px 0 10px 10px;
	margin-bottom: 0;
}

.rthd-setup-wizard-controls .rthd-setup-wizard-row label{
	width: 38%;
}

.rthd_wizard_container.rthd_selected_user{
	background: #DCDCDC;
}

.rthd-setup-description{
	font-size: 15px;
}

.rthd-setup-wizard-row label.rthd-offering-default-assignee{
	width: 25%;
}
