.wizard > .steps > ul > li::after{
	content: " ";
	display: inline-block;
	position: relative;
	height: 5px;
	width: 100%;
	top: -45px;
	z-index: -1;
	background: #eee;
	left: 10px;
}

.wizard > .steps > ul > li.done:after{
	background: #caeaaa;
}

.wizard > .steps > ul li:first-child::after{
	left: 10px;
}

.wizard > .steps > ul li:last-child::after{
	right: 10px;
	width: 50%;
}

.rthd-setup-ul-text-decoration{
	text-decoration: none;
	list-style: none;
}

.rthd_selected_user{
	float: left;
	width: auto;
	height: 264px;
	overflow-y: scroll;
}

.rthd-setup-team-wizard-controls{
	float: left;
}

.rthd_selected_user>h4{
    margin: 0 0 10px 0;
}

.rthd_selected_user>div{
    border: 1px #ccc solid;
    overflow-y: scroll;
    height: 150px;
}

.rthd-setup-list-users .delete_row{
	margin-top: -10px;
}

.rthd-setup-list-users li{
	margin-right: 10px;
}


.rthd_wizard_container{
	padding: 5px 0;
}
.rthd-setup-user-title{
	margin-left: 5px;
}

.rthd-setup-wizard-row{
	margin-top: 5px;
}

.rthd-setup-wizard-title{
	margin: 0;
}

/*.rthd-setup-wizard-row:last-child{*/
	/*margin-bottom: 0;*/
/*}*/

#mailbox-list img.avatar.avatar-30.photo{
	border-radius: 100%;
}

.rthd-setup-wizard-row label{
	display: inline-block;
	width: 15%;
}

.rthd-setup-wizard-row {
	background: beige;
	padding: 5px;
}

.rthd-setup-wizard-controls{
	background: beige;
	width: 50%;
}

.rthd-setup-wizard-controls, ul.rthd-setup-ul-text-decoration.rthd-setup-list-users{
	padding: 10px;
	margin-bottom: 0;
}
.rthd-setup-wizard-controls.rthd-setup-team-wizard-controls{
	min-height: 300px;
}

.rthd-setup-wizard-controls .rthd-setup-wizard-row label{
	width: 38%;
}

.rthd_wizard_container.rthd_selected_user{
	background: rgb(240, 240, 216);
	min-height: 300px;
	padding: 10px 0 10px 10px;
}

.rthd-setup-description{
	font-size: 15px;
}

.rthd-setup-wizard-row label.rthd-offering-default-assignee{
	width: 25%;
}

p.description{
	margin: 5px 0;
}

#wizard #rtmailbox-page{
    margin: 0;
}

#wizard .rtmailbox-row > label{
    width: 25%;
}

#rthd-domain-import-message{
	vertical-align: -webkit-baseline-middle;
	vertical-align: middle;
}

.rthd-domain-action{
	display: inline-block;
	padding: 5px;
}


