@media #{$large-up} {

	.rthd-tip {

		&:after, &:before {
			right: 100%;
			top: 15px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(255, 250, 240, 0);
			border-right-color: #fffAF0;
			border-width: 6px;
			margin-top: -6px;
		}

		&:before {
			border-color: rgba(221, 204, 170, 0);
			border-right-color: #f5deaf;
			border-width: 7px;
			margin-top: -7px;
		}
	}

}

@media screen and (max-width: 1024px) {
	.rthd-tip {
		bottom: 26px;
		left: auto;
		right: -102px;
		top: auto;
		width: 200px;

		&:after, &:before {
			right: auto;
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: ' ';
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-color: rgba(255, 250, 240, 0);
			border-top-color: #fffAF0;
			border-width: 6px;
			margin-left: -6px;
		}

		&:before {
			border-color: rgba(245, 222, 175, 0);
			border-top-color: #f5deaf;
			border-width: 7px;
			margin-left: -7px;
		}
	}

}

@media screen and (max-width: 420px) {
	.rthd-tip-top {
		right: -115px;
	}
}