.rthd-status {
	border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
	min-width: 70px;
    padding: 0 5px;
	text-align: center;
}

mark.rthd-unanswered{
	background: #C85D5D;
	border: 1px solid #C85D5D;
}

mark.rthd-answered {
	background: #5FA364;
	border: 1px solid #5FA364;
}

mark.rthd-archived {
	background: #b4b9be;
	border: 1px solid #b4b9be;
}

mark.rthd-trash {
	background: #000000;
	border: 1px solid #000000;
}

.rthd-notice {
	background-color: #fffaf0;
	margin-bottom: 20px;
	padding: 8px 10px;
}

.rthd-ticket-list-header{
	margin-bottom: 30px;
	& h2{
		display: inline;
	}
	& a{
		float: right;
	}
	& .rthd-count{
		color: #808080;
	}

}

.rthd-error{
    margin-bottom: 20px;
    padding: 10px;
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}

.rthd_ticket_short_code tr.rthd_highlight_row{
	background-color: #FFC;
}

.helpdeskspinner{
	display: none;
}

.rthd-ticket-short-code-loader{
	margin: auto;
}
.error-404.not-found .rthd-container{
	text-align: left;
}

#attachment-container {
	margin-bottom: 10px;
}

a.rthd-ticket-created-by img {
    border-radius: 50%;
}
// woo commerce column width
.widefat .column-ticket_order{
  width: 9%;
}
